<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Integrated_System_Project.Properties.Settings.RegisterConnectionString"
            connectionString="Data Source=DESKTOP-0F5U871\SQLEXPRESS;Initial Catalog=Register;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Integrated_System_Project.Properties.Settings.ISPHaircutCenterConnectionString"
            connectionString="Data Source=DESKTOP-0F5U871\SQLEXPRESS;Initial Catalog=ISPHaircutCenter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>